.svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: var(--primary-text-color);
  .linkToCalendarContainer:hover & {
    fill: var(--accent-text-color);
  }
}




.form{
  // sx={{ displa: "flex", flexDirection: "column", p: "20px" }}
display: flex;
  flex-direction: column;
  padding: 20px;
}

.input-container{
  //sx={{ mb: "25px", height: "75px" }
  margin-bottom: 25px;
  height: 75px;
}

.input-container-days-of-the-week{
  margin-bottom: 21px;
  display: flex;
  gap: 15px;
  height: 80px;
}

.input-description{
  height: 120px;
  &.MuiOutlinedInput-notchedOutline{
border-radius: 25px;
}
}

.MuiOutlinedInput-notchedOutline{
  //border-radius: 20px;
}

.input-and-date-container{
  display: flex;
  gap: 15px;
  height: 80px;
}

.input-invite-coworker{
  margin-bottom: 25px;
  height: 120px;
}

.input-selector-floor-and-room{
  display: flex;
  gap: 15px;
  height: 80px;
}

.button-container{
  display: flex;
  justify-content: center;
  gap: 50px;
}



.linkToCalendarContainer {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}



:global(.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root.Mui-error){
    color: var(--errorColor) !important;
}

:global(.css-p0rm37.Mui-error){
    color: var(--errorColor) !important;
}

:global(.css-u9osun.Mui-error){
  color: var(--additionalColor)!important;
  font-size: 20px!important;
  top:-10px!important;
}

:global(.css-1636szt){
  color: var(--label)!important;
}

:global(.css-1636szt){
  color: var(--label)!important;
}

:global(.css-sldnni){
  color: var(--label)!important;
}

:global(.css-yylhor){
  color: var(--label);
}

:global(.css-u9osun.Mui-focused){
  color: var(--additionalColor)!important;
  font-size: 20px!important;
  top:-10px!important;
}

:global(.css-p0rm37){
  color: var(--label)!important;
}


:global(.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused){
  color: var(--additionalColor)!important;
  font-size: 20px!important;
  top:-10px!important;
}

:global(.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root){
  color: var(--label) !important;
  top:-10px!important;
  font-size: 20px!important;
}

:global(.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon){
  color: var(--label)!important;
}

:global(.css-bpeome-MuiSvgIcon-root-MuiSelect-icon){
  color: var(--label)!important;
}


:global(.fc-timegrid-event .fc-event-time ){
  width: 100% !important;
  font-size: 14px!important;
  color: var(--base1)!important;
  //background: var(--colorNavTitle1_2);
  //background: var(--colorNavTitle3_3);
  border-radius: 10px 10px 0 0;
}

:global(.fc-v-event .fc-event-title-container ){
  font-size: 12px!important;
  color: var(--base1) !important;
  font-weight: 500!important;
  padding-left: 10px;
  background: var(--colorNavTitle1_3);
  border-radius: 0px 0px 10px 10px;
}

:global(.css-118r9cm-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon){
  color: var(--label) !important;
}

:global(.css-gqbi0y-PrivatePickersYear-root){
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

:global(.css-x15yrh-MuiPopper-root-MuiPickersPopper-root .PrivatePickersYear-yearButton){
  text-align: center!important;
  color: var(--label);
}

:global(.fc .fc-scroller:nth-child(1) ){
  overflow: auto!important;
}

:global(.fc .fc-scrollgrid-section-header > *, .fc .fc-scrollgrid-section-footer > *){
  overflow: hidden!important;
}

:global(.css-169iwlq-MuiCalendarPicker-root .MuiFormHelperText-root.Mui-error){
  color: var(--errorColor)!important;
}

:global(.css-169iwlq-MuiCalendarPicker-root .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root.Mui-error){
  color: var(--errorColor)!important;
}

:global(.css-169iwlq-MuiCalendarPicker-root .css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon){
  color: var(--colorIcon)!important;
}

:global(.css-169iwlq-MuiCalendarPicker-root .css-i4bv87-MuiSvgIcon-root){
  color: var(--colorIcon)!important;
}

:global(.css-raiqh1-MuiTypography-root-MuiDayPicker-weekDayLabel){
  color: var(--colorIcon)!important;
}

:global(.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected){
  background: var(--base3)!important;
}

:global(.css-iqd1hh-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon){
  color: var(--colorIcon)!important;
}

:global(.css-u791bf-MuiPickersArrowSwitcher-root-MuiClockPicker-arrowSwitcher .css-i4bv87-MuiSvgIcon-root){
  color: var(--colorIcon)!important;
}

.goToCalendar {
  vertical-align: middle;
  font-size: 17px;
  color: var(--primary-text-color);
  .linkToCalendarContainer:hover & {
    color: var(--accent-text-color);
  }
}

:global(div.MuiInputBase-multiline),
:global(input.MuiInputBase-input) {
  color: var(--mainColorFont);
  padding-left: 23px;
}
:global(div.MuiInputBase-root) {
  padding-right: 20px;
}
:global(fieldset.MuiOutlinedInput-notchedOutline) {
  border: 0px solid var(--PickerGlobalColor) !important;
  border-radius: 100px;
  box-shadow: var(--inset-input-shadow);
}
:global(label.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root) {
  left: 10px;
  color: var(--mainColorFont);
}
:global(p.MuiFormHelperText-contained) {
  margin-left: 24px;
}
