.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  height: 60px;
  z-index: 11100;
  position: relative;

  background-color:var(--base1);
  box-shadow: var(--outset-box-shadow);
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav a[class='active']{
  box-shadow:var(--inset-input-shadow);
  svg{
    color: var(--accent-color);
  }
}

.link-box a {

  transition: 500ms ease-in-out;
   width: 45px;
  height: 45px;
  color: var(--primary-text-color);
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: var( --link-NavBtn-box-shadow);
  background-size: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;

  //&.current {
  //  box-shadow:var(--inset-input-shadow);
  //  svg{
  //    color: var(--accent-color);
  //  }
  //}

}

.link-box svg{
  font-size: 22px;
  color: var(--colorIcon);
  transition: 500ms;
}

.link-box svg:hover{
  color: var(--accent-color);
}

