
* {
  text-align: left;
}



.tool-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-container svg{
  font-size: 18px;
  color:var(--label);
  padding-left:1px;
  transition: 500ms;
}

.tool-container svg:hover{
  color: var(--additionalColor);
}


.tools {
  border-radius: 20%;
  width: 30px;
  height: 30px;
  box-shadow: var(--outset-box-shadow);
  color: var(--label);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;

  &:active{
    box-shadow: var(--inset-input-shadow);

    svg{
      color: var(--additionalColor);
    }
  }
}



.position {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  width: 20%;
  height: 100%;
  overflow-y: hidden;
}

.sideBar {
  position: relative;
  //right: 10px;
  //top: 50px;
  //z-index: 3;
  margin: 10px 10px 0 0px;
  //width: 300px;
  // height: calc(100% - 60px);

  height: calc(100% - 93px);
  //height: calc(100% - 130px);
  padding: 20px 10px;

  background-color: var(--primary-color);
  border-radius: 20px;
  box-shadow: var(--outset-box-shadow);
}

.settContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userImg {
  min-width: 52px;
  min-height: 52px;
  max-width: 52px;
  max-height: 52px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-size: contain;
  box-shadow: var(--outset-box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstLetters {
  font-size: 24px;
  padding-left: 3px;
}

.label {
  color: var(--primary-text-color);
  text-transform: uppercase;
  padding: 2px;
  text-align: center;
  cursor: default;
}

